@page "/"
@using System.Drawing
@using BlazorLeaflet
@using BlazorLeaflet.Models
@using BlazorLeaflet.Models.Events
@inject IJSRuntime jsRuntime

<div class="my-content">
    <input id="type" type="checkbox" class="toggle z-front" @bind-value="type">

    <button id="submit" class="btn btn-success z-front" @onclick="Submit">Submit</button>

    <div class="my-map">
        <LeafletMap Map="_map" />
    </div>

</div>


@code
{ 
    private Map _map;
    private bool type;


    protected void Submit()
    {
        var channel = GrpcChannel.ForAddress("https://localhost:5001");

        RemoteDistributor distributor = new RemoteDistributor();

        Core.RoutePackage task = new Core.RoutePackage(100);

        distributor.GetRoute(task);
    }

    protected override void OnInitialized()
    {
        _map = new Map(jsRuntime)
        {
            Center = new LatLng(51.509865f, -0.118092f),
            Zoom = 5f
        };

        _map.OnInitialized += () =>
        {
            _map.AddLayer(new TileLayer
            {
                UrlTemplate = "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
                Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
            });

        };

        _map.OnClick += (Map map, MouseEvent e) =>
        {

            var marker = new Marker(e.LatLng.Lat, e.LatLng.Lng);
            marker.RiseOnHover = true;
            marker.OnDblClick += (InteractiveLayer _, MouseEvent __) =>
            {
                _map.RemoveLayer(marker);
            };
            marker.Icon = new Icon { Url = (type) ? "images/redpin.svg" : "images/bluepin.svg", Size = new Size(27, 32), Anchor = new Point(27 / 2, 32)};

            // Add it to the layers collection
            _map.AddLayer(marker);
        };




    }


}
